@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

/* index/landing page */
#bgvid {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/img/blokus.jpg) no-repeat;
  background-size: cover;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.container-index {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
}
.container-index .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.container-index .col-md-8 h1 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 86px;
  text-align: center;
  color: #FFF;
}
.container-index .btn-group {
  width: 100%;
}
.form-signin {
  max-width: 330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: inline;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  opacity: 0.9;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -21px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .btn {
  opacity: 0.9;
}
.form-signin:first-of-type .btn {
  width: 44%;
  position: absolute;
}
.form-signup {
  display: inline-block;
  width: 44%;
  padding: 0;
  position: absolute;
  right: 15px;
}
.form-signup .btn {
  width: 100%;
}

/* main page */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-static-top .navbar-right .static:hover {
  color: #777;
}
.container-main tr[onclick]:hover {
  cursor: pointer;
}
.container-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container-main ul li {
  display: inline;
}
.container-main .current-games ul li:not(:last-child)::after {
  content: ",";
}
.form-create > div {
  margin-bottom: 15px;
}
.input-group-timer {
  display: none;
  margin-bottom: 0 !important;
}
#timer-btn {
  display: block;
  margin-bottom: 15px;
}

/* play page */
.container-play {
  text-align: center;
}
#board {
	border: 2px solid black;
}
#players {
	width: 250px;
	padding: 10px;
  display: inline-block;
  vertical-align: top;
}
#canvas {
  display: inline-block;
}
.playerInfo {
	width: 200px;
	height: 60px;
	border: 1px outset;
	padding: 4px;
	font-size: 20px;
	font-family: helvetica;
  margin-bottom: 15px;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  border-radius: 5px;
}
.playerInfo > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.playerInfo:hover, .playerInfo.active {
  box-shadow: 0 0 10px 0 #000;
  -webkit-filter: blur(0);
  filter: blur(0);
}
#player1 {
  background-color: #007AF3;
}
#player2 {
  background-color: #FFDE00;
}
#player3 {
  background-color: #E60000;
}
#player4 {
  background-color: #00CD3D;
}
#linkDiv {
	word-wrap: break-word;
}
.playerName {
	text-align: center;
	font-size: 24px;
}
.icon-group {
  position: absolute;
  display: none;
  background-color: #FFF;
  width: 26px;
  border-radius: 10px;
  border: 1px solid #000;
}
.icon:hover {
  cursor: pointer;
}
@media (max-width: 1035px) {
  #players {
    width: 100%;
  }
  .playerInfo {
    display: inline-block;
  }
}
